input, label, button, select{
  display: block;
  margin:auto;
  margin-top: .5em;
  padding: .5em;
  text-align: center;
}

#summary{
  border: 2px solid black;
  width: 25%;
  float: right;
  margin-right: 20px;
}
